Python node red flow.json
[{"id":"38114a3.252bdb6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ab28ee7.ab9cd1","type":"ui_form","z":"38114a3.252bdb6","name":"","label":"","group":"7fc0745.36e4e8c","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles ","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":340,"wires":[["3117e7e5.4ba0e8"]]},{"id":"3117e7e5.4ba0e8","type":"function","z":"38114a3.252bdb6","name":"","func":"//alert(msg.payload.a);\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nvar apikey=\"_9W5ykpMbPnbrNesfzSmcMKxg1etCTmU6laCIdywxT6q\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":220,"wires":[["430404f1.ffdc4c"]]},{"id":"430404f1.ffdc4c","type":"http request","z":"38114a3.252bdb6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":180,"wires":[["9bb6f5d3.aea8b8"]]},{"id":"9bb6f5d3.aea8b8","type":"function","z":"38114a3.252bdb6","name":"pre prediction","func":"var a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\nvar token=msg.payload.access_token\nvar instance_id=\"c4080d6e-2480-460b-94cb-ec8203bff7e9\"\n\ndict_status={'Developing':0,'Developed':1}\n\ndict_country={'Afghanistan':0, 'Albania':1, 'Algeria':2, 'Angola':3,\n       'Antigua and Barbuda':4, 'Argentina':5, 'Armenia':6, 'Australia':6,\n       'Austria':7, 'Azerbaijan':7, 'Bahamas':8, 'Bahrain':9, 'Bangladesh':9,\n       'Barbados':10, 'Belarus':11, 'Belgium':12, 'Belize':13, 'Benin':14, 'Bhutan':15,\n       'Bolivia (Plurinational State of)':16, 'Bosnia and Herzegovina':17,\n       'Botswana':18, 'Brazil':19, 'Brunei Darussalam':20, 'Bulgaria':21,\n       'Burkina Faso':22, 'Burundi':23, \"Côte d'Ivoire\":24, 'Cabo Verde':25,\n       'Cambodia':26, 'Cameroon':27, 'Canada':28, 'Central African Republic':29,\n       'Chad':30, 'Chile':31, 'China':32, 'Colombia':33, 'Comoros':34, 'Congo':35,\n       'Cook Islands':36, 'Costa Rica':37, 'Croatia':38, 'Cuba':39, 'Cyprus':40,\n       'Czechia':41, \"Democratic People's Republic of Korea\":42,\n       'Democratic Republic of the Congo':43, 'Denmark':44, 'Djibouti':45,\n       'Dominica':46, 'Dominican Republic':47, 'Ecuador':48, 'Egypt':49,\n       'El Salvador':50, 'Equatorial Guinea':51, 'Eritrea':52, 'Estonia':53,\n       'Ethiopia':54, 'Fiji':55, 'Finland':56, 'France':57, 'Gabon':58, 'Gambia':59,\n       'Georgia':60, 'Germany':61, 'Ghana':62, 'Greece':63, 'Grenada':64, 'Guatemala':65,\n       'Guinea':66, 'Guinea-Bissau':67, 'Guyana':68, 'Haiti':69, 'Honduras':70,\n       'Hungary':71, 'Iceland':72, 'India':73, 'Indonesia':74,\n       'Iran (Islamic Republic of)':75, 'Iraq':76, 'Ireland':77, 'Israel':78, 'Italy':79,\n       'Jamaica':80, 'Japan':81, 'Jordan':82, 'Kazakhstan':83, 'Kenya':84, 'Kiribati':85,\n       'Kuwait':86, 'Kyrgyzstan':87, \"Lao People's Democratic Republic\":88,\n       'Latvia':89, 'Lebanon':90, 'Lesotho':91, 'Liberia':92, 'Libya':93, 'Lithuania':94,\n       'Luxembourg':95, 'Madagascar':96, 'Malawi':97, 'Malaysia':98, 'Maldives':99,\n       'Mali':100, 'Malta':101, 'Marshall Islands':102, 'Mauritania':103, 'Mauritius':104,\n       'Mexico':105, 'Micronesia (Federated States of)':106, 'Monaco':107, 'Mongolia':108,\n       'Montenegro':109, 'Morocco':110, 'Mozambique':111, 'Myanmar':112, 'Namibia':113,\n       'Nauru':114, 'Nepal':115, 'Netherlands':116, 'New Zealand':117, 'Nicaragua':118,\n       'Niger':119, 'Nigeria':120, 'Niue':121, 'Norway':122, 'Oman':123, 'Pakistan':124, 'Palau':125,\n       'Panama':126, 'Papua New Guinea':127, 'Paraguay':128, 'Peru':129, 'Philippines':130,\n       'Poland':131, 'Portugal':132, 'Qatar':133, 'Republic of Korea':134,\n       'Republic of Moldova':135, 'Romania':136, 'Russian Federation':137, 'Rwanda':138,\n       'Saint Kitts and Nevis':139, 'Saint Lucia':140,\n       'Saint Vincent and the Grenadines':141, 'Samoa':142, 'San Marino':143,\n       'Sao Tome and Principe':144, 'Saudi Arabia':145, 'Senegal':146, 'Serbia':147,\n       'Seychelles':148, 'Sierra Leone':149, 'Singapore':150, 'Slovakia':151, 'Slovenia':152,\n       'Solomon Islands':153, 'Somalia':154, 'South Africa':155, 'South Sudan':156,\n       'Spain':157, 'Sri Lanka':158, 'Sudan':159, 'Suriname':160, 'Swaziland':161, 'Sweden':162,\n       'Switzerland':163, 'Syrian Arab Republic':164, 'Tajikistan':165, 'Thailand':166,\n       'The former Yugoslav republic of Macedonia':167, 'Timor-Leste':168, 'Togo':169,\n       'Tonga':170, 'Trinidad and Tobago':171, 'Tunisia':172, 'Turkey':173,\n       'Turkmenistan':174, 'Tuvalu':175, 'Uganda':176, 'Ukraine':177,\n       'United Arab Emirates':178,\n       'United Kingdom of Great Britain and Northern Ireland':179,\n       'United Republic of Tanzania':180, 'United States of America':181,\n       'Uruguay':182, 'Uzbekistan':183, 'Vanuatu':184,\n       'Venezuela (Bolivarian Republic of)':185, 'Viet Nam':186, 'Yemen':187,\n       'Zambia':188, 'Zimbabwe':189}\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\":[[dict_country[a],b,dict_status[c],d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":280,"wires":[["67318b7f.9efab4"]]},{"id":"67318b7f.9efab4","type":"http request","z":"38114a3.252bdb6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/c4080d6e-2480-460b-94cb-ec8203bff7e9/deployments/d9258a60-0ac6-4451-a67a-7ef822e16f94/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":200,"wires":[["8e3da7cf.8b9d68","e80f5e5.01692a"]]},{"id":"e80f5e5.01692a","type":"debug","z":"38114a3.252bdb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":360,"wires":[]},{"id":"8e3da7cf.8b9d68","type":"function","z":"38114a3.252bdb6","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":140,"wires":[["5bc7abb7.99ac14"]]},{"id":"5bc7abb7.99ac14","type":"ui_text","z":"38114a3.252bdb6","group":"b072c168.6f2ea","order":0,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":80,"wires":[]},{"id":"55bb6301.2c4fbc","type":"inject","z":"38114a3.252bdb6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":120,"wires":[["3117e7e5.4ba0e8"]]},{"id":"7fc0745.36e4e8c","type":"ui_group","z":"","name":"Default","tab":"c99b54fc.61f718","order":1,"disp":true,"width":"6","collapse":false},{"id":"b072c168.6f2ea","type":"ui_group","z":"","name":"Default","tab":"c99b54fc.61f718","order":2,"disp":true,"width":"6","collapse":false},{"id":"c99b54fc.61f718","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]